In [15]:
import pandas as pd

In [16]:
training_df = pd.read_csv('customer_churn_dataset-training-master.csv')
training_df

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
440828,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
440829,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
440830,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
440831,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
440832,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [17]:
# Check for missing values 
missing_values = training_df.isnull().sum()
missing_values

CustomerID           1
Age                  1
Gender               1
Tenure               1
Usage Frequency      1
Support Calls        1
Payment Delay        1
Subscription Type    1
Contract Length      1
Total Spend          1
Last Interaction     1
Churn                1
dtype: int64

In [18]:
# Drop the row with missing data
training_df_cleaned = training_df.dropna()

missing_values1 = training_df_cleaned.isnull().sum()
missing_values1

CustomerID           0
Age                  0
Gender               0
Tenure               0
Usage Frequency      0
Support Calls        0
Payment Delay        0
Subscription Type    0
Contract Length      0
Total Spend          0
Last Interaction     0
Churn                0
dtype: int64

In [19]:
# Label encoding for Gender
training_df_cleaned['Gender'] = training_df_cleaned['Gender'].map({'Male': 1, 'Female': 0})

# One-hot encoding for Subscription Type and Contract Length
training_df_encoded = pd.get_dummies(training_df_cleaned, columns=['Subscription Type', 'Contract Length'])
training_df_encoded

/tmp/ipykernel_777/2200493310.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  training_df_cleaned['Gender'] = training_df_cleaned['Gender'].map({'Male': 1, 'Female': 0})

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Churn,Subscription Type_Basic,Subscription Type_Premium,Subscription Type_Standard,Contract Length_Annual,Contract Length_Monthly,Contract Length_Quarterly
0,2.0,30.0,0,39.0,14.0,5.0,18.0,932.00,17.0,1.0,False,False,True,True,False,False
1,3.0,65.0,0,49.0,1.0,10.0,8.0,557.00,6.0,1.0,True,False,False,False,True,False
2,4.0,55.0,0,14.0,4.0,6.0,18.0,185.00,3.0,1.0,True,False,False,False,False,True
3,5.0,58.0,1,38.0,21.0,7.0,7.0,396.00,29.0,1.0,False,False,True,False,True,False
4,6.0,23.0,1,32.0,20.0,5.0,8.0,617.00,20.0,1.0,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440828,449995.0,42.0,1,54.0,15.0,1.0,3.0,716.38,8.0,0.0,False,True,False,True,False,False
440829,449996.0,25.0,0,8.0,13.0,1.0,20.0,745.38,2.0,0.0,False,True,False,True,False,False
440830,449997.0,26.0,1,35.0,27.0,1.0,5.0,977.31,9.0,0.0,False,False,True,False,False,True
440831,449998.0,28.0,1,55.0,14.0,2.0,0.0,602.55,2.0,0.0,False,False,True,False,False,True
440832,449999.0,31.0,1,48.0,20.0,1.0,14.0,567.77,21.0,0.0,False,True,False,False,False,True

In [20]:
# Generate a basic statistical summary of the numerical columns in the dataset
statistical_summary = training_df_encoded.describe()
statistical_summary

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Churn
count,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000
mean,225398.667955,39.373153,0.567681,31.256336,15.807494,3.604437,12.965722,631.616223,14.480868,0.567107
std,129531.918550,12.442369,0.495399,17.255727,8.586242,3.070218,8.258063,240.803001,8.596208,0.495477
min,2.000000,18.000000,0.000000,1.000000,1.000000,0.000000,0.000000,100.000000,1.000000,0.000000
25%,113621.750000,29.000000,0.000000,16.000000,9.000000,1.000000,6.000000,480.000000,7.000000,0.000000
50%,226125.500000,39.000000,1.000000,32.000000,16.000000,3.000000,12.000000,661.000000,14.000000,1.000000
75%,337739.250000,48.000000,1.000000,46.000000,23.000000,6.000000,19.000000,830.000000,22.000000,1.000000
max,449999.000000,65.000000,1.000000,60.000000,30.000000,10.000000,30.000000,1000.000000,30.000000,1.000000

In [21]:
# Interaction Frequency: Interaction per month
training_df_encoded['Interaction Frequency'] = training_df_encoded['Last Interaction'] / training_df_encoded['Tenure']

# Spending Per Month: Average monthly spend
training_df_encoded['Spending Per Month'] = training_df_encoded['Total Spend'] / training_df_encoded['Tenure']

# Support Call Rate: Calls per month
training_df_encoded['Support Call Rate'] = training_df_encoded['Support Calls'] / training_df_encoded['Tenure']

# Payment Behavior: Payment delay per month
training_df_encoded['Payment Behavior'] = training_df_encoded['Payment Delay'] / training_df_encoded['Tenure']

training_df_encoded

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Churn,Subscription Type_Basic,Subscription Type_Premium,Subscription Type_Standard,Contract Length_Annual,Contract Length_Monthly,Contract Length_Quarterly,Interaction Frequency,Spending Per Month,Support Call Rate,Payment Behavior
0,2.0,30.0,0,39.0,14.0,5.0,18.0,932.00,17.0,1.0,False,False,True,True,False,False,0.435897,23.897436,0.128205,0.461538
1,3.0,65.0,0,49.0,1.0,10.0,8.0,557.00,6.0,1.0,True,False,False,False,True,False,0.122449,11.367347,0.204082,0.163265
2,4.0,55.0,0,14.0,4.0,6.0,18.0,185.00,3.0,1.0,True,False,False,False,False,True,0.214286,13.214286,0.428571,1.285714
3,5.0,58.0,1,38.0,21.0,7.0,7.0,396.00,29.0,1.0,False,False,True,False,True,False,0.763158,10.421053,0.184211,0.184211
4,6.0,23.0,1,32.0,20.0,5.0,8.0,617.00,20.0,1.0,True,False,False,False,True,False,0.625000,19.281250,0.156250,0.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440828,449995.0,42.0,1,54.0,15.0,1.0,3.0,716.38,8.0,0.0,False,True,False,True,False,False,0.148148,13.266296,0.018519,0.055556
440829,449996.0,25.0,0,8.0,13.0,1.0,20.0,745.38,2.0,0.0,False,True,False,True,False,False,0.250000,93.172500,0.125000,2.500000
440830,449997.0,26.0,1,35.0,27.0,1.0,5.0,977.31,9.0,0.0,False,False,True,False,False,True,0.257143,27.923143,0.028571,0.142857
440831,449998.0,28.0,1,55.0,14.0,2.0,0.0,602.55,2.0,0.0,False,False,True,False,False,True,0.036364,10.955455,0.036364,0.000000
440832,449999.0,31.0,1,48.0,20.0,1.0,14.0,567.77,21.0,0.0,False,True,False,False,False,True,0.437500,11.828542,0.020833,0.291667

In [22]:
from sklearn.model_selection import train_test_split

# Feature engineering
training_df_encoded['Interaction Frequency'] = training_df_encoded['Last Interaction'] / training_df_encoded['Tenure']
training_df_encoded['Spending Per Month'] = training_df_encoded['Total Spend'] / training_df_encoded['Tenure']
training_df_encoded['Support Call Rate'] = training_df_encoded['Support Calls'] / training_df_encoded['Tenure']
training_df_encoded['Payment Behavior'] = training_df_encoded['Payment Delay'] / training_df_encoded['Tenure']

# Define features (X) and target (y)
X = training_df_encoded.drop(columns=['CustomerID', 'Churn'])
y = training_df_encoded['Churn']

# Split the data into training and validation sets (80% train, 20% validation)
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

(X_train.shape, X_val.shape, y_train.shape, y_val.shape)

((352665, 18), (88167, 18), (352665,), (88167,))

In [23]:
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Reduce the size of the dataset by taking a random sample (e.g., 10% of the original data)
sampled_X_train, _, sampled_y_train, _ = train_test_split(X_train, y_train, test_size=0.9, random_state=42)

# Initialize the SGDClassifier with logistic regression on the smaller dataset
sgd_model_sampled = SGDClassifier(loss='log_loss', max_iter=1000, random_state=42)

# Train the model on the smaller training data
sgd_model_sampled.fit(sampled_X_train, sampled_y_train)

# Predict on the validation set
y_pred_sgd_sampled = sgd_model_sampled.predict(X_val)

# Evaluate the model
accuracy_sgd_sampled = accuracy_score(y_val, y_pred_sgd_sampled)
precision_sgd_sampled = precision_score(y_val, y_pred_sgd_sampled)
recall_sgd_sampled = recall_score(y_val, y_pred_sgd_sampled)
f1_sgd_sampled = f1_score(y_val, y_pred_sgd_sampled)

accuracy_sgd_sampled, precision_sgd_sampled, recall_sgd_sampled, f1_sgd_sampled

(0.7586398539135958,
 np.float64(0.7098671947809879),
 np.float64(0.9729362925115759),
 np.float64(0.8208392267798208))

In [26]:
import numpy as np

# Get the feature importance (coefficients)
feature_importance = np.abs(sgd_model_sampled.coef_[0])

# Create a DataFrame to display feature importance alongside feature names
importance_df = pd.DataFrame({
    'Feature': X_train.columns,
    'Importance': feature_importance
})

# Sort by importance 
importance_df = importance_df.sort_values(by='Importance', ascending=False)

# Display the top features
importance_df.head(10)

                       Feature  Importance
12     Contract Length_Monthly  253.893223
1                       Gender  147.291735
11      Contract Length_Annual  144.181552
13   Contract Length_Quarterly  142.128511
4                Support Calls  117.935296
10  Subscription Type_Standard   22.885768
16           Support Call Rate   17.142714
5                Payment Delay   16.657876
9    Subscription Type_Premium   12.668816
7             Last Interaction    8.788431

In [29]:
# Create a DataFrame with selected features and the churn predictions
output_df = X_train.copy()
output_df['Churn Prediction'] = sgd_model_sampled.predict(X_train)

# Export to CSV
output_df.to_csv('customer_churn_analysis.csv', index=False)

In [28]:
import os

# Check if the file exists in the current directory
os.listdir()

['customer_churn.ipynb',
 'customer_churn_dataset-testing-master.csv',
 'customer_churn_dataset-training-master.csv',
 'customer_churn_analysis.csv']